<section class="main-content-wrap">
    <section class="postShorten-group">
    <div class="innerPostShorten-group">
    <% page.posts.each(function(post) { %>
    <%
        var tableOfContents = null;
        var thumbnailImageUrl = post.thumbnailImageUrl;
        var postContent = post.content;
        // Define default position for the thumbnail image
        var thumbnailImagePosition = theme.thumbnail_image_position;
        /* Define thumbnail image */

        // Define position of the thumbnail image
        if (!post.excerpt && !post.link) {
            thumbnailImagePosition = "bottom";
        } else if (thumbnailImageUrl !== null) {
            if (post.thumbnailImagePosition && post.thumbnailImagePosition.length)  {
                thumbnailImagePosition = post.thumbnailImagePosition;
            }
        }

        // Generate and insert table of contents in post content
        if (!post.excerpt && (/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
            if (__('post.toc_title')) {
                tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
            } else {
                tableOfContents = '<span id="table-of-contents"></span>';
            }
            tableOfContents += toc(postContent, {list_number: false})
            postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
        }
    %>
    <article class="postShorten postShorten--thumbnailimg-<%= thumbnailImagePosition %>">
        <div class="postShorten-wrap">
            <% if (thumbnailImageUrl !== null && thumbnailImagePosition === "top") { %>
                <% if (post.link) { %>
                    <a href="<%- url_for(post.link) %>">
                <% } else { %>
                    <a href="<%- url_for(post.path) %>">
                <% } %>
                    <div class="postShorten-thumbnailimg">
                        <img alt="" src="<%= thumbnailImageUrl %>"/>
                    </div>
                </a>
                <% thumbnailImageUrl = null; %>
            <% } %>
            <div class="postShorten-header">
                <h1 class="postShorten-title">
                    <% if (post.link) { %>
                        <a class="link-unstyled" href="<%- url_for(post.link) %>">
                            <%= post.title || '(' + __('post.no_title') + ')' %>
                        </a>
                    <% } else { %>
                        <a class="link-unstyled" href="<%- url_for(post.path) %>">
                            <%= post.title || '(' + __('post.no_title') + ')' %>
                        </a>
                    <% } %>
                </h1>
                <%- partial('post/meta', {post: post, classes: ['postShorten-meta']}) %>
            </div>
            <% if (post.excerpt || post.link) { %>
                <div class="postShorten-excerpt">
                    <% if (!post.no_excerpt_on_index) { %>
                        <%- post.excerpt %>
                    <% } %>
                    <% if (post.thumbnail == 'map.jpg' && _('post.go_to_map')) { %>
                        <a href="<%- url_for(post.link) %>" class="postShorten-excerpt_link link">
                            <%= __('post.go_to_map') %>
                        </a>
                    <% } else if (post.link && _('post.go_to_website')) { %>
                        <a href="<%- url_for(post.link) %>" class="postShorten-excerpt_link link">
                            <% if (!post.no_excerpt_on_index) { %>
                                <%= __('post.go_to_website') %>
                            <% } else { %>
                                <%= __('post.go_to_gallery') %>
                            <% } %>
                        </a>
                    <% } else if (__('post.read_more')) { %>
                        <a href="<%- url_for(post.path) %>" class="postShorten-excerpt_link link">
                            <%- __('post.read_more') %>
                        </a>
                        <% if (post.readingtime) { %>
                            <span class="postShorten-readingtime">
                                <%= ' - ' + post.readingtime + ' min read' %>
                            </span>
                        <% } %>
                    <% } %>
                </div>
            <% } else { %>
                <div class="postShorten-content">
                    <%- postContent %>
                    <% if (theme.image_gallery) { %>
                        <%- partial('post/gallery', {photos: post.photos, post: post})%>
                    <% } %>
                    <% if (__('post.comment_and_share')) { %>
                        <p>
                            <a href="<%- url_for(post.path + '#post-footer') %>" class="postShorten-excerpt_link link">
                                <%- __('post.comment_and_share') %>
                            </a>
                        </p>
                    <% } %>
                </div>
            <% } %>
        </div>
        <% if (thumbnailImageUrl !== null && thumbnailImagePosition !== "top") { %>
            <% if (post.map) { %>
                <div class="postShorten-thumbnailimg"><iframe 
                  width="200"
                  height="140"
                  frameborder="0" style="border:0"
                  src="<%- url_for(post.map) %>&embed=true" allowfullscreen>
                </iframe></div>
            <% } else {
                if (post.link) { %>
                    <a href="<%- url_for(post.link) %>">
                <% } else { %>
                    <a href="<%- url_for(post.path) %>">
                <% } %>
                    <div class="postShorten-thumbnailimg">
                        <img alt="" src="<%= thumbnailImageUrl %>"/>
                    </div>
                </a>
            <% } %>
            <% thumbnailImageUrl = null; %>
        <% } %>
    </article>
    <% }) %>
    <%- partial('pagination', {type: 'page'}) %>
    <% if (theme.disqus_shortname) { %>
        <%- partial('post/disqus') %>
    <% } else if (theme.gitment.enable) { %>
        <%- partial('post/gitment') %>
    <% } %>
    </div>
    </section>
    <section class="sideBarMap">
        <div class="innerSideBarMap"><a class="link-unstyled" href="/map/">
            <center>Map of our current roadtrip</center>
            <image class="iframeMap" src="/map-all.jpg">
        </a>
        <%- partial('google-ads') %>
        <!--<%- partial('medianet-ads') %>-->
        </div>
    </section>
</section>
